{% extends "layout.html" %}
{% from "macros/pagination.html" import render_pagination %}
{% block body %}
  <!--首頁內文開始-->
   <div class="container marketing fontface">
    <div class="row justify-content-center">
      <!--標題-->
      <div class="col-12 col-lg-9">
       <br><small class="text-muted">首頁/雜筆</small><br><br>
       <h2 style="font-weight:bold; border-color:rgb(118,217,185);" class="mark_sign">活動分享</h2>
       <p>展覽、校內外演講、表演。分享我們參與過的活動資訊與收穫心得。</p>
       <br><br><br>
      </div>
      <hr class="featurette-divider">
    </div>  
  <div class="container col-12 col-lg-9 justify-content-center">
  {% for post in this.pagination.items %}
  <div class="row article blog-index">
    <div class="col-12 col-lg-4">{% for image in post.attachments.images %}<img src="{{ image|url }}" width="250" class="img-fluid">{% endfor %}</div>
    <div class="col-12 col-lg-8">
      <a class="black_a" href="{{ post|url }}"><h4>{{ post.title1 }}{{ post.title2 }}</h4></a><time>{{ post.date }}</time>
      <p style="font-size:15px">{{ post.info }}</p>
    </div>
  </div>
  <br>
  {% endfor %}
  </div>
</div>
{% endblock %}
  {% if this.pagination.pages > 1 %}
    {{ render_pagination(this.pagination) }}
  {% endif %}




        
         